@use "styles/_vars";

.language {
  display: flex;
  z-index: 9;
  gap: 16px;
  font-family: vars.$fontFamily;
  font-size: 25px;
  font-weight: 300;
  color: vars.$textColor;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.3s ease-in 0s;
  svg {
    margin-top: 12px;
    width: 150%;
    height: 150%;
  }
}

.language:focus,
.language:hover {
  outline: none;
  color: vars.$hoverColor;
}

.options {
  z-index: 11;
  outline: none;
  padding: 0px 8px;
  border-radius: 20px;
  margin-top: 20px;
  width: 99px;
  height: 160px;
  background-color: vars.$bgButton;
}

.option {
  margin: 10px 0px;
  padding: 5px 10px;
  font-size: 25px;
  font-weight: 300;
  color: vars.$textColor;
  border-radius: 5px;
  transition: all 0.5s ease-out 0s;
}

.option:hover {
  cursor: pointer;
  background: vars.$hoverOption;
}

.open {
}

//-------------------------------/
//Адаптив
//-------------------------------/
@media (max-width: vars.$tabletWidth) {
  .listbox {
    z-index: 9;
  }
}
@media (max-width: vars.$mobileWidth) {
  .listbox {
    position: relative;
    margin-left: 0;
  }
  .language {
    border: 1px solid rgba(138, 76, 239, 0.3);
    border-radius: 40px;
    padding: 16px 30px;
  }
  .options {
    position: absolute;
    top: 0;
    left: 0;
  }
}
