@use 'styles/vars';

.btn {
  display: flex;
  width: fit-content;
  gap: 1.5625rem;
  color: vars.$textColor;
  border-radius: 2.6875rem;
  background-color: vars.$bgButton;
  padding: 1.625rem 1.25rem 1.625rem 3.5625rem;

  font-size: 1.75rem;
  font-weight: 600;
  line-height: 93%;
  letter-spacing: -0.03em;

  transition: background-color 0.3s ease;

  @media (max-width: vars.$miniMobileWidth) {
    padding: 20px 20px 20px 37px;
    font-size: 1.3125rem;
  }

  &:hover {
    background-color: vars.$hoverButton;

    .iconsWrapper {
      .arrowWrapper {
        left: 0.8125rem;
        color: vars.$hoverButton;
      }

      .circleWrapper {
        svg {
          transform: scale(1.3);
        }

        @media screen and (max-width: vars.$miniMobileWidth) {
          svg {
            transform: scale(0.9);
          }
        }

        circle {
          fill: vars.$textColor;
          opacity: 1;
        }
      }
    }
  }

  .iconsWrapper {
    position: relative;
    width: 4.375rem;

    .arrowWrapper {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 2;

      transition:
        left 0.3s ease,
        color 0.3s ease;

      @media screen and (max-width: vars.$miniMobileWidth) {
        svg {
          transform: scale(0.8);
        }
      }
    }

    .circleWrapper {
      position: absolute;
      right: 0px;
      top: -45%;
      z-index: 1;

      @media screen and (max-width: vars.$miniMobileWidth) {
        top: -80%;
      }

      svg {
        transition: transform 0.3s ease;
        transform-origin: center;

        @media screen and (max-width: vars.$miniMobileWidth) {
          transform: scale(0.8);
        }
      }
    }
  }
}
