@use 'reset';
@use 'vars';

// Theme variables

// Global styles
::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: vars.$fontFamily;
  font-size: vars.$fontSize;
  color: vars.$textColor;
  background: vars.$bgMain;
  text-wrap: balance;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

.container {
  max-width: vars.$maxWidthContainer;
  margin: 0 auto;
  padding: vars.$containerPadding;
  position: relative;
  z-index: 1;

  @media (max-width: vars.$tabletWidth) {
    padding: 0 1.875rem;
  }

  @media (max-width: vars.$mobileWidth) {
    padding: 0 1.0625rem;
  }
}

// Titles

.h1 {
  max-width: 47.8125rem;
  font-size: 6.375rem;
  line-height: 95%;
  letter-spacing: -0.02em;
  font-weight: 500;

  @media (max-width: vars.$laptopWidth) {
    font-size: 5.3125rem;
  }

  @media (max-width: vars.$mobileWidth) {
    max-width: 24.0625rem;
    font-size: 3.125rem;
  }

  @media screen and (max-width: vars.$miniMobileWidth) {
    font-size: 2.375rem;
  }
}

.h3 {
  text-wrap: balance;
  font-size: 3.75rem;
  line-height: 93%;
  letter-spacing: -0.04em;
  font-weight: 500;

  @media (max-width: vars.$mobileWidth) {
    font-size: 2.3125rem;
  }
}

.desc {
  font-size: 0.9375rem;
  line-height: 103%;
  letter-spacing: -0.04em;
  color: vars.$descColor;
}

// Components

.borderTop {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media screen and (max-width: vars.$bigLaptopWidth) {
    padding: 0 20px;
  }

  @media screen and (max-width: vars.$tabletWidth) {
    padding: 0 15px;
  }

  @media screen and (max-width: vars.$mobileWidth) {
    padding: 0 0.4375rem;
  }
}

.subtext {
  font-weight: 300;
  color: vars.$borderLogos;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
